<div class="container">
    <div class="header">
        <div class="title">
            Car
        </div>
    </div>
    <form *ngIf="renterForm" [formGroup]="renterForm" (ngSubmit)="saveChange()">
        <ion-item style="margin-right: 15px;" color="none">
            <ion-label position="stacked">Nom</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item style="margin-right: 15px;" color="none">
            <ion-label position="stacked">Address</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>

        <div style="padding: 5px 16px;">
            <ion-button expand="full" [disabled]="!renterForm.valid" size="medium" type="submit">
                <ion-text color="light">
                    Enregistrer
                </ion-text>
            </ion-button>
        </div>
    </form>
</div>
