<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Locataire</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar [(ngModel)]="keyWord" (ionChange)="keyWordChange($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let renter of renters">
            <ion-label>
                <div>{{ renter.name }}</div>
                <div>{{ renter.address }}</div>
            </ion-label>
            <ion-buttons>
                <ion-button (click)="updateRenter(renter)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
                <ion-button (click)="onDelete(renter)">
                    <ion-icon color="danger" slot="icon-only" name="trash-bin"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-list>
    <button (click)="addRenter()" color="warning" class="add_btn">
        +
    </button>
</ion-content>
